.vscode/
Icon/
node_modules/
bepinex_dev/Libraries/
bepinex_dev/SPTQuestingBots/.vs
bepinex_dev/SPTQuestingBots/packages
bepinex_dev/SPTQuestingBots/bin
bepinex_dev/SPTQuestingBots/obj
bepinex_dev/SPTQuestingBots-InteropTest/.vs
bepinex_dev/SPTQuestingBots-InteropTest/packages
bepinex_dev/SPTQuestingBots-InteropTest/bin
bepinex_dev/SPTQuestingBots-InteropTest/obj
bepinex_dev/SPTQuestingBots-CustomBotGenExample/.vs
bepinex_dev/SPTQuestingBots-CustomBotGenExample/packages
bepinex_dev/SPTQuestingBots-CustomBotGenExample/bin
bepinex_dev/SPTQuestingBots-CustomBotGenExample/obj
bepinex_dev/SPTQuestingBots/.idea/.idea.SPTQuestingBots/.idea/workspace.xml
bepinex_dev/SPTQuestingBots/.idea/.idea.SPTQuestingBots/.idea/shelf/Uncommitted_changes_before_Update_at_1_21_2025_5_28_PM__Changes_.xml
bepinex_dev/SPTQuestingBots/.idea/.idea.SPTQuestingBots/.idea/shelf/Uncommitted_changes_before_Update_at_1_21_2025_5_28_PM_\[Changes\]/shelved.patch
bepinex_dev/SPTQuestingBots/.idea/.idea.SPTQuestingBots/.idea/shelf/Uncommitted_changes_before_Checkout_at_1_21_2025_5_26_PM__Changes_.xml
bepinex_dev/SPTQuestingBots/.idea/.idea.SPTQuestingBots/.idea/shelf/Uncommitted_changes_before_Checkout_at_1_21_2025_5_26_PM_\[Changes\]/shelved.patch
bepinex_dev/SPTQuestingBots/.idea/.idea.SPTQuestingBots/.idea/projectSettingsUpdater.xml
bepinex_dev/SPTQuestingBots/.idea/.idea.SPTQuestingBots/.idea/material_theme_project_new.xml
bepinex_dev/SPTQuestingBots/.idea/.idea.SPTQuestingBots/.idea/indexLayout.xml
