.vscode/
Icon/
node_modules/
bepinex_dev/Libraries/
bepinex_dev/SPTQuestingBots/.vs
bepinex_dev/SPTQuestingBots/packages
bepinex_dev/SPTQuestingBots/bin
bepinex_dev/SPTQuestingBots/obj
bepinex_dev/SPTQuestingBots-InteropTest/.vs
bepinex_dev/SPTQuestingBots-InteropTest/packages
bepinex_dev/SPTQuestingBots-InteropTest/bin
bepinex_dev/SPTQuestingBots-InteropTest/obj
bepinex_dev/SPTQuestingBots-CustomBotGenExample/.vs
bepinex_dev/SPTQuestingBots-CustomBotGenExample/packages
bepinex_dev/SPTQuestingBots-CustomBotGenExample/bin
bepinex_dev/SPTQuestingBots-CustomBotGenExample/obj
bepinex_dev/SPTQuestingBots/.idea/
